
html
    font-family: "goshasans", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    font-size: 16px
    word-spacing: 1px
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box

*, *:before, *:after 
    box-sizing: border-box
    margin: 0
    padding: 0

a
    text-decoration: none
    color: $black

.link
    color: $link-color
    border-bottom: 1px solid $link-color
    transition: border-color .2s
    @media (min-width: 769px)
        &:hover
            border-color: transparent

ul 
    list-style-type: none

.layout-main
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    min-height: 100vh
    width: 100vw
    position: relative

.page
    width: 100%
    flex-grow: 1
    &__title
        position: fixed
        top: 0
        left: 0
        display: flex
        // height: 100vh
        width: 117px
        padding-top: 212px
        word-break: break-word
        font-size: 80px
        line-height: 0.8
    &__content
        margin-left: 250px
        margin-right: 33px
        padding-top: 212px