@font-face
    font-family: 'goshasans'
    src: url('/fonts/goshasans-bold.woff2') format('woff2'), url('/fonts/goshasans-bold.woff') format('woff')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'goshasans'
    src: url('/fonts/goshasans-regular.woff2') format('woff2'), url('/fonts/goshasans-regular.woff') format('woff')
    font-weight: normal
    font-style: normal


@font-face
    font-family: 'LabGrotesque'
    src: url('/fonts/LabGrotesque-Regular.woff2') format('woff2'), url('/fonts/LabGrotesque-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Rubik'
    src: url('/fonts/Rubik-Regular.woff2') format('woff2'), url('/fonts/Rubik-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Rubik'
    src: url('/fonts/Rubik-Light.woff2') format('woff2'), url('/fonts/Rubik-Light.woff') format('woff')
    font-weight: 300
    font-style: normal