<template>
  <footer ref="footer">
    <nuxt-link 
        :to="{name: 'invitation'}" 
        class="invitation"
        :class="{_open: menuOpenState}">
      <span class="invitation__text link">
        Пригласить
        на мероприятие
        или интервью
      </span>

    </nuxt-link>
    <span class="copyright" :class="{_white: menuOpenState || $route.path=='/'}">
      © 2019 test Одной ногой в диджитал
    </span>
	</footer>
</template>
<script>

  import {mapState} from 'vuex';

  export default {
    data() {
      return {
      }
    },
    computed: {
      ...mapState('menu', ['menuOpenState']),
    },
    methods: {
    },
  }
</script>

<style lang="sass">

footer
  position: absolute
  bottom: 36px
  left: 40px
  z-index: 100
  display: flex
  flex-direction: column

.invitation
  display: block
  width: 254px
  margin-bottom: 62px
  font-size: 24px
  transition: color .2s, border-color .2s
  &__text
    color: $link-color
    border-bottom: 1px solid $link-color
    white-space: pre-line
  &._open
    .invitation
      &__text
        color: $yellow
        border-color: $yellow
        transition: border-color .3s
        @media (min-width: 769px)
          &:hover
            border-color: transparent

.copyright
  color: $black
  font-family: Rubik
</style>