<template>
  <header ref="header" class="header">
    <div class="menu__burger" 
        :class="{_open: menuOpenState, '_main': $route.name=='index'}"
        @click="menuToogle()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nuxt-link to="/" 
        class="logo"
        :class="{_white: menuOpenState || $route.name=='index'}">
      <div class="logo__img">
        <svg width="125" height="60" viewBox="0 0 125 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.78248 22.3801C2.60006 21.7667 1.67192 20.913 1.00442 19.8253C0.336928 18.7313 1.49268e-06 17.5044 1.25275e-06 16.1322C1.01281e-06 14.7599 0.336927 13.5331 1.00442 12.4391C1.67192 11.3514 2.60006 10.4976 3.78248 9.88424C4.9649 9.27083 6.29353 8.96728 7.7811 8.96728C9.26866 8.96728 10.5973 9.27083 11.7797 9.88424C12.9621 10.4976 13.8903 11.3514 14.5578 12.4391C15.2253 13.5268 15.5622 14.7599 15.5622 16.1322C15.5622 17.5044 15.2253 18.7376 14.5578 19.8253C13.8903 20.9193 12.9621 21.7667 11.7797 22.3801C10.5973 22.9935 9.26866 23.3034 7.7811 23.3034C6.29354 23.3034 4.95854 22.9935 3.78248 22.3801ZM9.33859 19.136C9.80901 18.8577 10.1777 18.4593 10.4511 17.9408C10.7244 17.4222 10.8643 16.8215 10.8643 16.1258C10.8643 15.4365 10.7244 14.8295 10.4511 14.3172C10.1777 13.7987 9.80266 13.4003 9.33859 13.122C8.87452 12.8438 8.35324 12.6983 7.77474 12.6983C7.19624 12.6983 6.67496 12.8375 6.20454 13.122C5.74047 13.4003 5.3654 13.7987 5.09204 14.3172C4.81869 14.8295 4.67883 15.4366 4.67883 16.1258C4.67883 16.8215 4.81869 17.4222 5.09204 17.9408C5.3654 18.4593 5.74047 18.8514 6.20454 19.136C6.67496 19.4206 7.19624 19.5597 7.77474 19.5597C8.35324 19.5597 8.87452 19.4206 9.33859 19.136Z"/>
          <path d="M32.2877 19.4003L32.2877 25.6672L28.0348 25.6672L28.0348 22.9859L20.2029 22.9859L20.2029 25.6672L15.95 25.6672L15.95 19.4003L16.3441 19.4003C17.1451 19.4003 17.7109 18.9007 18.0351 17.8952C18.3593 16.8898 18.5754 15.41 18.6644 13.4496L18.8234 9.27588L30.4759 9.27588L30.4759 19.4003L32.2877 19.4003ZM22.3897 17.1996C22.2308 18.1166 21.9892 18.8565 21.6586 19.4003L25.9115 19.4003L25.9115 12.8615L22.7393 12.8615L22.7012 13.8417C22.6503 15.157 22.5423 16.2763 22.3897 17.1996Z"/>
          <path d="M47.4301 9.27588L47.4301 22.9859L42.7831 22.9859L42.7831 17.9332L38.492 17.9332L38.492 22.9859L33.845 22.9859L33.845 9.27588L38.492 9.27588L38.492 14.1326L42.7831 14.1326L42.7831 9.27588L47.4301 9.27588Z"/>
          <path d="M13.6015 29.4644L13.6015 43.1744L8.95445 43.1744L8.95445 38.1217L4.6634 38.1217L4.6634 43.1744L0.0163598 43.1744L0.0163574 29.4644L4.6634 29.4644L4.6634 34.321L8.95445 34.321L8.95445 29.4644L13.6015 29.4644Z"/>
          <path d="M19.0562 42.5661C17.8737 41.9527 16.9456 41.099 16.2781 40.0113C15.6106 38.9236 15.2737 37.6905 15.2737 36.3182C15.2737 34.9459 15.6106 33.7191 16.2781 32.6251C16.9456 31.5374 17.8737 30.6837 19.0562 30.0703C20.2386 29.4569 21.5672 29.1533 23.0548 29.1533C24.5423 29.1533 25.871 29.4569 27.0534 30.0703C28.2358 30.6837 29.164 31.5374 29.8315 32.6251C30.4989 33.7128 30.8359 34.9459 30.8359 36.3182C30.8359 37.6905 30.4989 38.9236 29.8315 40.0113C29.164 41.1053 28.2358 41.9527 27.0534 42.5661C25.871 43.1795 24.5423 43.4894 23.0548 43.4894C21.5672 43.4894 20.2322 43.1795 19.0562 42.5661ZM24.6186 39.322C25.0891 39.0438 25.4578 38.6454 25.7311 38.1268C26.0045 37.6083 26.1443 37.0075 26.1443 36.3119C26.1443 35.6226 26.0045 35.0155 25.7311 34.5033C25.4578 33.9847 25.0827 33.5863 24.6186 33.3081C24.1546 33.0298 23.6333 32.8844 23.0548 32.8844C22.4763 32.8844 21.955 33.0235 21.4846 33.3081C21.0205 33.5863 20.6454 33.9847 20.3721 34.5033C20.0987 35.0155 19.9589 35.6226 19.9589 36.3119C19.9589 37.0075 20.0987 37.6083 20.3721 38.1268C20.6454 38.6454 21.0205 39.0374 21.4846 39.322C21.955 39.6066 22.4763 39.7457 23.0548 39.7457C23.6333 39.7457 24.1482 39.6066 24.6186 39.322Z"/>
          <path d="M42.9968 33.0485L37.072 33.0485L37.072 43.1729L32.5012 43.1729L32.5012 29.4629L42.9968 29.4629L42.9968 33.0485Z"/>
          <path d="M5.7214 55.9996C5.91211 56.2526 6.00111 56.5562 6.00111 56.923C6.00111 57.4922 5.77225 57.9413 5.3209 58.2701C4.86954 58.599 4.22748 58.7634 3.40105 58.7634L1.11025e-06 58.7634L0 52.4136L3.23577 52.4136C4.02405 52.4136 4.64069 52.559 5.07297 52.85C5.50525 53.1409 5.72775 53.5457 5.72775 54.0769C5.72775 54.3805 5.65782 54.6461 5.51161 54.8738C5.3654 55.1015 5.16833 55.2913 4.90769 55.4367C5.25733 55.5569 5.53068 55.7466 5.7214 55.9996ZM2.11056 54.8549L3.01963 54.8549C3.36927 54.8549 3.54727 54.7031 3.54727 54.3932C3.54727 54.0706 3.36927 53.9125 3.01963 53.9125L2.11056 53.9125L2.11056 54.8549ZM3.83334 56.7586C3.83334 56.4297 3.65534 56.2716 3.3057 56.2716L2.11056 56.2716L2.11056 57.2708L3.3057 57.2708C3.65534 57.2645 3.83334 57.0938 3.83334 56.7586Z"/>
          <path d="M16.6558 57.0976L16.6558 60.0002L14.6851 60.0002L14.6851 58.7608L11.0552 58.7608L11.0552 60.0002L9.08447 60.0002L9.08447 57.0976L9.26247 57.0976C9.63118 57.0976 9.89818 56.8636 10.0508 56.402C10.2033 55.934 10.2987 55.251 10.3432 54.3467L10.4195 52.418L15.8166 52.418L15.8166 57.1039L16.6558 57.1039L16.6558 57.0976ZM12.0723 56.0795C12.0024 56.5095 11.888 56.8446 11.7354 57.0976L13.7061 57.0976L13.7061 54.0685L12.2376 54.0685L12.2185 54.5238C12.1931 55.1309 12.1422 55.6494 12.0723 56.0795Z"/>
          <path d="M17.3738 52.4116L19.4843 52.4116L19.4843 55.713L21.6839 52.4116L23.7055 52.4116L23.7055 58.7552L21.5949 58.7552L21.5949 55.4664L19.4081 58.7552L17.3738 58.7552L17.3738 52.4116Z"/>
          <path d="M31.989 57.0976L31.989 60.0002L30.0183 60.0002L30.0183 58.7608L26.3948 58.7608L26.3948 60.0002L24.4241 60.0002L24.4241 57.0976L24.6021 57.0976C24.9708 57.0976 25.2378 56.8636 25.3904 56.402C25.5429 55.934 25.6383 55.251 25.6828 54.3467L25.7591 52.418L31.1562 52.418L31.1562 57.1039L31.989 57.1039L31.989 57.0976ZM27.4056 56.0795C27.3356 56.5095 27.2212 56.8446 27.0686 57.0976L29.0393 57.0976L29.0393 54.0685L27.5708 54.0685L27.5518 54.5238C27.5263 55.1309 27.4818 55.6494 27.4056 56.0795Z"/>
          <path d="M38.95 56.4657L38.3969 56.4657L38.3969 58.7615L36.2991 58.7615L36.2991 56.4657L35.7269 56.4657L34.6716 58.7615L32.2051 58.7615L33.9151 55.4221L32.2941 52.4116L34.5381 52.4116L35.6761 54.777L36.3054 54.777L36.3054 52.4116L38.4033 52.4116L38.4033 54.777L38.9945 54.777L40.1515 52.4116L42.3955 52.4116L40.7808 55.4221L42.4782 58.7552L40.0116 58.7552L38.95 56.4657Z"/>
          <path d="M42.9172 52.4116L45.0278 52.4116L45.0278 55.713L47.2274 52.4116L49.2489 52.4116L49.2489 58.7552L47.1384 58.7552L47.1384 55.4664L44.9515 58.7552L42.9172 58.7552L42.9172 52.4116Z"/>
          <path d="M55.809 54.0687L53.94 54.0687L53.94 58.7552L51.8294 58.7552L51.8294 54.0687L49.9604 54.0687L49.9604 52.4116L55.809 52.4116L55.809 54.0687Z"/>
          <path d="M60.7038 57.6484L58.2817 57.6484L57.8558 58.7552L55.6689 58.7552L58.4597 52.4116L60.5766 52.4116L63.3674 58.7552L61.1424 58.7552L60.7038 57.6484ZM60.1126 56.1115L59.4959 54.5177L58.8729 56.1115L60.1126 56.1115Z"/>
          <path d="M70.2655 52.4116L70.2655 58.7552L68.1486 58.7552L68.1486 54.0687L66.6928 54.0687L66.6737 54.8023C66.6483 55.7067 66.5784 56.453 66.4576 57.0349C66.3368 57.6167 66.1207 58.0658 65.8219 58.3947C65.5168 58.7172 65.0845 58.8817 64.5187 58.8817C64.2326 58.8817 63.9275 58.8437 63.6096 58.7615L63.7177 57.0475C63.794 57.0665 63.8766 57.0728 63.9529 57.0728C64.1754 57.0728 64.347 56.9843 64.4678 56.8009C64.5886 56.6175 64.6649 56.3771 64.7094 56.0735C64.7539 55.77 64.7793 55.3778 64.7984 54.8845L64.881 52.4116L70.2655 52.4116Z"/>
          <path d="M60.5641 40.978C57.7606 39.5235 55.5611 37.4999 53.9718 34.9072C52.3825 32.3207 51.5879 29.3928 51.5879 26.1423C51.5879 22.8856 52.3825 19.964 53.9718 17.3712C55.5611 14.7848 57.7606 12.7611 60.5641 11.3003C63.374 9.84587 66.5334 9.1123 70.0553 9.1123C73.5771 9.1123 76.7429 9.83954 79.5464 11.3003C82.3499 12.7611 84.5495 14.7784 86.1387 17.3712C87.728 19.964 88.5227 22.8856 88.5227 26.1423C88.5227 29.3991 87.728 32.3207 86.1387 34.9071C84.5495 37.4999 82.3499 39.5172 79.5464 40.978C76.7366 42.4388 73.5771 43.1661 70.0553 43.1661C66.5334 43.1661 63.374 42.4388 60.5641 40.978ZM73.7742 33.2819C74.8803 32.6179 75.764 31.6694 76.4124 30.4425C77.0672 29.2157 77.3977 27.7865 77.3977 26.1423C77.3977 24.4981 77.0735 23.0626 76.4124 21.8421C75.7576 20.6153 74.8803 19.6731 73.7742 19.0028C72.668 18.3388 71.4284 18.0036 70.0553 18.0036C68.6821 18.0036 67.4425 18.3388 66.3364 19.0028C65.2302 19.6731 64.3466 20.6153 63.6982 21.8421C63.0434 23.069 62.7128 24.4982 62.7128 26.1423C62.7128 27.7865 63.037 29.222 63.6982 30.4425C64.353 31.6694 65.2302 32.6116 66.3364 33.2819C67.4425 33.9523 68.6821 34.2811 70.0553 34.2811C71.4284 34.2811 72.668 33.9459 73.7742 33.2819Z"/>
          <path d="M92.5022 9.85883L103.347 9.85883L103.347 26.7877L114.619 9.85883L125 9.85883L125 42.4202L114.155 42.4202L114.155 25.5356L102.934 42.4202L92.5086 42.4202L92.5086 9.85883L92.5022 9.85883ZM100.919 6.0013C99.3297 4.66698 98.5351 2.66865 98.5351 -1.05482e-06L105.871 -2.33751e-06C105.871 1.05608 106.081 1.81493 106.501 2.27657C106.92 2.74453 107.658 2.97219 108.719 2.97219C109.781 2.97219 110.537 2.73821 110.989 2.27657C111.44 1.80861 111.663 1.04975 111.663 -3.3501e-06L119.005 -4.63389e-06C119.005 2.66865 118.191 4.66697 116.57 6.0013C114.949 7.33563 112.33 7.99963 108.713 7.99963C105.096 7.99963 102.508 7.33563 100.919 6.0013Z"/>
        </svg>
      </div>
    </nuxt-link>
    <transition name="a-menu">
      <nav v-show="menuOpenState" class="menu">
        <ul class="menu__list">
          <li v-for="(item, index) in menuList"
              :key="index"
              class="menu__item"
              :ref="item.name"
          >
            <nuxt-link :to="{name: item.name}" 
                class="menu__link link" 
                >{{ item.text }}</nuxt-link>
          </li>
        </ul>
        <a :link="'mailto:'+email" class="menu__email link">
          {{email}}
        </a>
      </nav>
    </transition>
    <a 
        v-if="$route.name=='index' || $route.name=='about'"
        class="header__instagram" 
        :class="{_white: menuOpenState || $route.name=='index'}"
        :href="instagram">
      <div class="header__instagram-text">
        Instagram
      </div>

      <div class="header__instagram-wrapper-img"> 
        <img class="header__instagram-img" :src="instagramImage" alt="Instagram Одной ногой">
      </div>
    </a>
	</header>
</template>

<script>
  import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

  export default {
    data() {
      return {
        mount: false,
        instagram: '#',
        instagramImage: '/img/instagram_img.png'
      }
    },
    computed: {
      ...mapState('menu', {
        menuList: 'items',
        email: 'email',
        menuOpenState: 'menuOpenState',
      }),
    },
    methods: {
      ...mapMutations('menu', ['menuToogle']),
      menuClose(e){
        let dropdow = this.$el;
        if(dropdow !== null){
          let target = e.target;
          let its_dropdow = target === dropdow || dropdow.contains(target);
          if (!its_dropdow && this.menuOpenState) {
              this.menuToogle();
          }
        }
      },
    },
    mounted(){
      this.mount = true;
      document.addEventListener('click', (e) => this.menuClose(e));
    },
  }
</script>

<style lang="sass">
.a-menu-enter-active, .a-menu-leave-active 
  transition: opacity .3s 
.a-menu-enter, .a-menu-leave-to 
  opacity: 0

.header
  position: fixed
  opacity: 1
  top: 0
  left: 0
  padding: 40px
  display: flex
  justify-content: space-between
  align-items: flex-start
  z-index: 100
  &__instagram
    position: absolute
    top: 40px
    left: 490px
    height: 160px
    width: 160px
    &-text
      position: absolute
      right: calc( 14px + 14px
      bottom: 0
      height: 100%
      width: 100%
      transform: rotate(-90deg)
      font-family: Rubik
    &-wrapper-img
      height: 100%
      width: 100%
      border-radius: 10px
      overflow: hidden
      box-shadow: 0px 7px 30px -7px #000000

.logo
  position: relative
  z-index: 10
  &__img
    display: flex
    flex-direction: column
  svg
    path
      fill: $black
      transition: all .2s
.menu
  position: absolute
  left: 0
  top: 0
  height: 100vh
  width: 600px
  background: $purple
  box-shadow: 0px 0px 40px 10px #000000
  &__list
    margin-left: 103px
    margin-top: 170px
  &__item
    margin-top: 16px
  &__link
    color: $white
    font-size: 24px
    line-height: 18px
    border-bottom: 1px solid $white
  &__email
    position: relative
    display: inline-block
    margin-left: 103px
    margin-top: 82px
    color: $white
    font-weight: bold
    font-size: 24px
    line-height: 22px
    &:before
      content: ''
      position: absolute
      bottom: calc(100% + 14px)
      height: 8px
      width: 32px
      background: $yellow

.menu__burger
  position: relative
  margin-top: 14px
  margin-right: 34px
  width: 30px
  height: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  cursor: pointer
  transition: all .2s  cubic-bezier(0.1, -0.6, 0.2, 0)
  z-index: 10
  span
    width: 100%
    height: 2px
    border-radius: 2px
    background: $black
    transition: all .15s .05s
    &:nth-child(2)
      width: 20px
    &:nth-child(3)
      width: 26px
  &._main
    span
      width: 100%
      background: $white
  &._open
    transform: rotate(180deg)
    span
      width: 100%
      background: $white
      &:nth-child(1)
        transform: translateY(9px) rotate(45deg)
      &:nth-child(2)
        opacity: 0
      &:nth-child(3)
        transform: translateY(-9px) rotate(-45deg)


</style>