<template>
  <div class="layout-main">
    <!-- <transition name="start">
      <cmp-start v-if="start"></cmp-start>
    </transition> -->
    <cmp-header></cmp-header>
    <nuxt class="page"/>
    <cmp-footer></cmp-footer>
  </div>
</template>
<script>
import Start from '~/components/Start.vue'
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    'cmp-start': Start,
    'cmp-header': Header,
    'cmp-footer':Footer
  },
  // asyncData() {
  //   let url = `api/default.json`
  //   return LoadJson(url).then(
  //     (data)=>{
  //         console.log(data)
  //         return data
  //     }
  //   )
  // }
  data() {
    return {
      start: true,
      imgLength: 0,
      imgLoaded: 0,
    }
  },
  mounted() {
    setTimeout(() => {
      this.start = false;
    }, 300);
    // let img = document.querySelectorAll('img')
    // this.imgLength = img.length;
    // img.forEach(item => {
    //   console.log(item)
    //   item.addEventListener('load', () => {

    //     console.log('loaded')
    //     imgLoaded++;
    //     if (this.imgLength > this.imgLoaded){
    //       this.start = false;
    //     }
    //   });
    // });;

    console.log("%cСтудия %c t ", "font-weight: bold; font-size: 18px", "color: white; font-weight: bold; font-size: 18px; background: #D52B1E; border-radius: 3px");
    console.log("🚀 %cэмоции, технологии и контент!", "font-weight: bold; font-size: 14px;");
  },
  methods: {
  },
}
</script>

<style lang="sass">
.start-enter-active, .start-leave-active 
  transition: opacity .3s
.start-enter, .start-leave-to
  opacity: 0

._white
  color: $white
  svg
    path
      fill: $white

</style>

