<template>
    <main class="container">
        <h1 class="page__title">
            {{title}}
        </h1>
        <div class="page__content about__content">
            <div class="about__text">
                {{content}}
            </div>
            <a class="about__link link" :href="videos" target="_blank">
                Смотреть все видео
            </a>
        </div>
    </main>
</template>

<script>
// import axios from 'axios'
import { LoadJson } from '~/assets/js/requests';


export default {
    // components: {},
    data() {
        return {
        }
    },
    asyncData() {
        let url = `api/about.json`
        return LoadJson(url).then(
            (data)=>{
                return data
            }
        )
    }
}
</script>

<style lang="sass">
.about
    &__text
        font-family: Rubik
        line-height: 46px
        font-size: 32px
        @media (max-width: 1366px)
            line-height: 40px
            font-size: 22px
    &__link 
        display: inline-block
        margin-top: 52px
        color: $red
        border-color: $red
        font-size: 24px
        @media (max-width: 1366px)
            font-size: 20px

</style>