<template>
    <main class="container">
        <h1 class="page__title">
            {{title}}
        </h1>
        <div class="page__content contacts__content">
            <div class="contacts__links">

                <a class="contacts__phone" :href="'tel:'+phone">
                    {{phone}}
                </a>
                <a class="contacts__email link" :href="'mailto:'+email">
                    {{email}}
                </a>
            
            </div>

            <div class="contacts__sotials">
                <a v-for="(item, index) in sotials" :key="index"
                    class="contacts__sotials-link" 
                    :href="item.link" target="_blank">
                    {{item.name}}
                    <div class="line" :style="{background: item.color}"></div>
                </a>
            </div>
        </div>
    </main>
</template>

<script>
import { mapState } from 'vuex';
import { LoadJson } from '~/assets/js/requests';

export default {
    computed: {
        ...mapState('mainInfo', ['email'])
    },
    asyncData() {
        let url = `api/contacts.json`
        return LoadJson(url).then(
            (data)=>{
                return data
            }
        )
    }
}
</script>

<style lang="sass">

.contacts
    &__links
        display: flex
        flex-direction: column
        align-items: flex-start

        font-size: 64px
        // @media (max-width: 1920px)
        @media (max-width: 1366px)
            font-size: 48px
        @media (max-width: 769px)
            font-size: 22px
    &__email
        border-width: 4px
    &__sotials
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        margin-top: 120px
        &-link
            font-size: 18px
            line-height: 22px
            margin-right: 36px
            font-weight: bold
            @media (max-width: 769px)
                font-size: 12px
            .line
                margin-top: 12px
                width: 100%
                height: 4px
                transition: all .3s
            &:hover
                .line
                    opacity: 0.5


</style>