<template>
  <main class="index">
    <section class="index__main">
      <h1 class="page__title index__title">
        Делаем честный контент
      </h1>
      <h2 class="index__subtitle">
        о людях, агентствах, событиях
      </h2>
      <div class="index__video">
        <div class="index__video-btn">
          <div class="index__video-btn-text">
            Youtube-promo
          </div>
          <div class="index__video-btn-icon"></div>
        </div>
      </div>
    </section>

    <section class="index__content">
      <div v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper">
          <div v-for="(item, index) in videoList"
              :key="index"
              class="swiper-slide index-video__item"
              :style="{color: item.textColor}">
            <img class="index-video__img" :src="item.img" :alt="item.title">
            <h3 class="index-video__top">
              <div class="index-video__tags"
                  data-swiper-parallax="-20">
                <span v-for="(tag, index) in item.tags" :key="'tags-'+index">
                  #{{tag}}
                </span>
              </div>
              <div class="index-video__number"
                  data-swiper-parallax="-30">
                <span>
                  {{item.number}}
                </span>
              </div>
            </h3>
            <span  class="index-video__date"
                data-swiper-parallax="-20">
              {{item.date}}
            </span>
            <h3 class="index-video__title"
                data-swiper-parallax="-23">
              {{item.title}}
            </h3>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-bullets"></div>
      </div>



    </section>

  </main>
</template>

<script>

import { LoadJson } from '~/assets/js/requests';
export default {
  components: {},
    asyncData() {
      let url = `api/videoList.json`
      return LoadJson(url).then(
          (data)=>{
              return data
          }
      )
  },
  data() {
    return {
        swiperOption: {
          // loop: true,
          slidesPerView: 4,
          // centeredSlides: true,
          // spaceBetween: 30,
          threshold: 4,
          scrollbar: {
            el: '.swiper-scrollbar',
            hide: false,
          },
          parallax: true,
          // freeMode: true,
          grabCursor: true,
          breakpoints: {
            // // when window width is <= 320px
            // 320: {
            //   slidesPerView: 1
            // },
            // // when window width is <= 480px
            // 720: {
            //   slidesPerView: 2
            // },
            // when window width is <= 640px
            1920: {
              slidesPerView: 3
            }
          },
          pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true
          },
          on: {
            slideChange() {
              console.log('onSlideChangeEnd', this);
            },
            tap() {
              console.log('onTap', this);
            }
          }
        }
    }
  }

}
</script>

<style lang="sass">
.index-video
  &__item
    position: relative
    height: 100vh
  &__date
    position: absolute
    top: calc( 50% + 170px)
    left: 20px
  &__title
    position: absolute
    top: calc( 50% + 206px)
    left: 20px
    font-size: 36px
    line-height: 43px
    font-weight: normal
  &__top
    position: absolute
    top: 0
    // right: 0
    width: 100%
    margin: 25px
    display: flex
  &__tags
    font-size: 24px
    line-height: 29px
  // &__number
    
  &__img
    object-fit: cover
    width: 100%
    height: 100%

.index
  display: flex
  &__title
    position: relative
    width: 178px
    color: $fontLight
    background: center / cover url('/img/index-text-bg.jpg') no-repeat
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &__subtitle
    position: absolute
    top: 390px
    left: 178px
    width: 150px
    color: $fontLight
    font-weight: 300
    font-family: Rubik
  &__main
    position: relative
    height: 100vh
    width: 600px
    min-width: 600px
    background: center / cover no-repeat #19191F url('/img/index-bg.jpg')
    box-shadow: 0px 0px 40px 10px #000000
    z-index: 10
  &__video
    position: absolute
    top: 624px
    left: 276px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 244px
    height: 244px
    color: $red
    transform: rotate(-90deg)
    &:before, &:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border: 1px solid rgba($white, 0.2)
      border-radius: 100%
      width: 100%
      height: 100%
    &:after
      border: 1px solid rgba($white, 0.1)
      width: 80%
      height: 80%
    &-btn
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      &-text
        margin-bottom: 18px
        font-size: 14px
      &-icon
        width: 100px
        height: 80px
        background: url('/img/index-video.png')
  &__content
    // flex: 1 1
    width: calc( 100% - 600px)

</style>