<template>
    <main class="container">
        <h1 class="page__title">
            {{title}}
        </h1>
        <div class="page__content">
            * Все поля обязательны для заполнения.
            <div class="invitation__form">
                <!-- <a v-for="(item, index) in sotials" :key="index"
                    class="invitation__link link" 
                    :href="item.link" target="_blank">
                    {{item.name}}
                    <div class="invitation__link-line" :style="{background: item.color}"></div>
                </a> -->
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf3MjgVRGfA3srYQnv3ATtWpv1n5nCI_kh_IDE4iRRqmY5s9Q/viewform?embedded=true" width="320" height="1015" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
            </div>
            <div class="invitation__info" v-html="content">
            </div>
        </div>
    </main>
</template>

<script>
import { mapState } from 'vuex';
import { LoadJson } from '~/assets/js/requests';

export default {
    computed: {
        ...mapState('mainInfo', ['email'])
    },
    asyncData() {
        let url = `api/invitation.json`
        return LoadJson(url).then(
            (data)=>{
                return data
            }
        )
    }
}
</script>

<style lang="sass">



</style>