<template>
    <main class="container">
        <h1 class="page__title">
            {{title}}
        </h1>
        <div class="page__content">
            <div class="about__content">
                {{content}}
            </div>
            <div class="about__videos">
                <a class="about__link link" :href="videos" target="_blank">
                    Смотреть все видео
                </a>
            </div>
        </div>
    </main>
</template>

<script>
// import axios from 'axios'
import { LoadJson } from '~/assets/js/requests';


export default {
    // components: {},
    data() {
        return {
        }
    },
    asyncData() {
        let url = `api/videos.json`
        return LoadJson(url).then(
            (data)=>{
                return data
            }
        )
    }
}
</script>

<style lang="sass">



</style>